
#header{
    clear: both;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 0px;
    z-index: 999;
    box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
}

body.body-white h1{
    background: #fff;
    color: #000;
} 
body.body-white h2{
    background: #fff;
    color: #000;
} 
body.body-white h3{
    background: #fff;
    color: #000;
} 
body.body-white h4{
    background: #fff;
    color: #000;
} 
body.body-white h5{
    background: #fff;
    color: #000;
} 
body.body-white h6{
    background: #fff;
    color: #000;
} 
body.body-black h1{
    background: #000;
    color: #FFFF00;
} 
body.body-black h2{
    background: #000;
    color: #FFFF00;
} 
body.body-black h3{
    background: #000;
    color: #FFFF00;
} 
body.body-black h4{
    background: #000;
    color: #FFFF00;
} 
body.body-black h5{
    background: #000;
    color: #FFFF00;
} 
body.body-black h6{
    background: #000;
    color: #FFFF00;
} 
body.body-blue h1{
    background: #0080FF;
    color: #000080;
}
body.body-blue h2{
    background: #0080FF;
    color: #000080;
}
body.body-blue h3{
    background: #0080FF;
    color: #000080;
}
body.body-blue h4{
    background: #0080FF;
    color: #000080;
}
body.body-blue h5{
    background: #0080FF;
    color: #000080;
}
body.body-blue h6{
    background: #0080FF;
    color: #000080;
}
body.body-white a{
    background: #fff;
    color: #000;
}
body.body-white p{
    background: #fff;
    color: #000;
}
body.body-white span{
    background: #fff;
    color: #000;
}
body.body-white ul.menu li a {
    background: #fff;
    color: #000;
}

/* body.body-black span{
    background: #000;
    color: #FFFF00;
} */
body.body-black p{
    background: #000;
    color: #FFFF00;
}

body.body-black a{
    background: #000;
    color: #FFFF00;
}
body.body-black input{
    background: #000;
    color: #FFFF00;
}
body.body-black ul.menu li a {
    background: #000;
    color: #FFFF00;
}
body.body-black .line-block a{
    background: #000;
    color: #FFFF00;
}
body.body-blue a{
    background: #0080FF;
    color: #000080;
}
body.body-blue ul.menu li a {
    background: #0080FF;
    color: #000080;
}
body.body.body-blue .line-block a{
    background: #0080FF;
    color: #000080;
}
body.body.body-blue input{
    background: #0080FF;
    color: #000080;
}
body.body.body-blue p{
    background: #0080FF;
    color: #000080;
}


@media (max-width: 1280px){
body {
    font-size: 16px;
}
}
.nav{
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.logo {
    width: 20%;
    display: block;
    text-align: center;
}
.logo img {
    position: relative;
    max-width: 100%;
    margin: 0px auto;
    padding: 6px 0px;
}
.img-responsive {
    max-width: 100%;

}
.header-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 0px 26px 0px;
}
.head-col { 
    float: right;
    width: 80%;
    margin-left: 10%;
    padding: 0px;
}
ul.header-info {
    display: inline-block;
    margin: 0;
    padding: 0px;
    font-weight: 500;
}
.info-tab {
    position: relative;
    display: inline-block;
    font-size: 95%;
    max-width: 225px;
    padding: 6px 6px 6px 50px;
    text-align: left;
}

ul.header-info li {
    float: left;
    margin: 0;
    padding: 0px 15px;
    list-style: none;
    line-height: 110%;
}


.clear {
    display: block;
    clear: both;
}
ul.header-info li + li {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.nav.sticky {
    background: #fff;
    z-index: 999;
    box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
}
.topmenu {
    width: 100%;
    float: none;
    margin: 0;
    display: block;
    padding: 0;
    position: absolute;
    z-index: 999;
}
.topnav {
    background: #3EC1CD;
    border-radius: 4px;
    padding-left: 10px;
    position:relative;
    top: -25px;
}

.topmenu ul.menu {
    list-style: none;
    position: relative;
    margin: 0;
    clear: both;
    padding: 0;
    display: table;
    width: 100%;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.topmenu ul.menu li {
    list-style: none;
    display: table-cell;
}
.menu-text{
    
    display: flex;
    justify-content: space-between;
}
.menu a{
    color: white;
}
.bleck:hover {
    color: #000;
}

.topmenu ul.menu li a {
    line-height: 50px;
    padding: 0px 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: all 0.3s ease 0s;
}
.topmenu ul.menu a:hover{
    color: #d8c8c8;
}
.menu-text-1{
    color: #f9f9f9
}

.menu-text__style{
    background: linear-gradient(to bottom,#09162A 0%, #164768 100%) repeat;

}
.menu-text__style:hover {
    background: linear-gradient(to bottom,#09162A 10%, #164768 70%) repeat;

}
.content{
    position: relative;
    display: block;
    clear: both;
    padding: 0px;
    background-color: #14405F;
    background-image: url(/image/dudar.jpg);
    background-size: cover;
    background-position: top auto;
    background-repeat: no-repeat;
    color: #3EC1CD ;
    min-height: 567px;
    
}
.wrapper__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;


}
.center {
    text-align: center;
    margin: 0 auto;
}
/* .wrapper-big{
    
} */
.content__title{
    padding-top: 140px;
    font-size: 55px;
    font-weight: 900;
    line-height: 110%;
    color: #09162A;
    display: block;
    text-transform: capitalize;
}
.content__text p{
    line-height: 140%;
    font-size: 120%;
    font-weight: 500;
    padding-bottom: 30px;  
    padding-top: 15px; 
}
.wrapper__content a{
    background-color: #28919A;
    background: linear-gradient(to bottom, #28919A 0%, #3EC1CD 100%) repeat;
    color: #fff;
    border: 1px solid #28919A;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 18px;
    padding: 16px 34px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    overflow: hidden;
    transition: all .55s ease 0s;
    -webkit-transition: all .55s ease 0s;
}
.wrapper__content a:hover{
    background: linear-gradient(to bottom,#09162A 0%, #164768 100%) repeat;
}
